.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    z-index: 100;
}

/* ======================================================================================================
                                        /* CSSTransitions Animations  */
/* ====================================================================================================== */
card-modal-animate-enter {
    transform: translateY(-10rem);
    opacity: 0;
}
    
card-modal-animate-enter-active {
    /* transform: translateY(0); */
    opacity: 1;
    transition: all 200ms;
}

card-modal-animate-exit {
    /* transform: translateY(0); */
    opacity: 1;
}

card-modal-animate-exit-active {
    /* transform: translateY(-10rem); */
    opacity: 0;
    transition: all 200ms;
}