/* ====================================================================================================== */
                                        /* CSSTransitions Animations  */
/* ====================================================================================================== */
.card-modal-animate-enter {
  /* transform: translateY(-10rem); */
  opacity: 0;
}

.card-modal-animate-enter-active {
/* transform: translateY(0); */
opacity: 1;
transition: all 400ms;
}

.card-modal-animate-exit {
/* transform: translateY(0); */
opacity: 1;
}

.card-modal-animate-exit-active {
/* transform: translateY(-10rem); */
opacity: 0;
transition: all 400ms;
}

/* End of Modal Animations */

#modal-container {
  z-index: 1000;
  position: fixed;
  left: 50%!important;
  transform: translate(-50%)!important;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 12, 12, 1);
  border-radius: 15px!important;
  white-space: pre-wrap;
  width: 60vw;
  overflow-y: scroll;
}
#semanticFontOverride #modal-container div{
  /* Semantic UI wants this to be Lato */
  font-family: 'Nunito';   
}

#heading-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-radius: 25px!important;
  /* justify-content: space-around; */
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}
/* #heading-container div { 
  display: flex;
  align-items: center;
} */
/* The Close Button on the Heading */
#modalCloseButton {
  /* position: absolute; */
  /* right: 20px; */
  font-size: 2rem;
  /* color: red; */
  /* color: #850505; */
  /* color: #c80815; */
  /* color: rgb(255,215,0); */
  color: #d0d0d0;
  /* color: rgb(143, 148, 145); */
  /* color: #8b0000; */
  /* color: #800020; */
  /* color: #9b111e; */
  transition: transform .3s ease;
  /* border: 2px solid #9b111e; */
  margin-right: 0.7rem;
}

#modalCloseButton:hover{
  transform: scale(1.2);
  color: #c80815;
  cursor: pointer;
}

#heading-container h3 {
  margin: 1rem;
}
#topHR {
  border: 0;
  height: 2px;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,215,0,0.75), rgba(0, 0, 0, 0));
}

.modal-heading {
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  /* color: rgb(143, 148, 145); */
  font-size: 1.2rem;
}
.top-modal-text {
  margin-bottom: 1rem;
}

#content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#modal-image {
  padding: 2rem;
  /* height: auto; */
  /* max-width: 100%; */
  /* border-radius: 5% / 3.75%; */
  border-radius: 11% / 8%;
}

#text-container {
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  /* color: #b6b6b6; */
  /* color: #cecece; */
  /* color: #e6e6e6; */
  color: #d0d0d0;
  /* font-weight: 400; */
}

#text-container h5{
  font-size: 1.2rem;
  font-weight: 400;
}

#modal-container hr {
  border: 0;
  height: 2px;
  width: 100%;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,215,0,0.75), rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192,192,192,0.75), rgba(0, 0, 0, 0)); */
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(170,169,173,0.75), rgba(0, 0, 0, 0)); */
}

#priceContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#linkContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 2rem 0;
  align-items: center;

}

#linkContainer .modalButton {
  width: 80%;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  transition: transform .3s ease;
  text-decoration: none;
  width: 90%;
  display: flex;
  justify-content: center;
}

#linkContainer .modalButton:hover {
  transform: scale(0.97);
}

/* Font Awesome Icons */
/* .svg-inline--fa is a class placed into the HTML by Font Awesome.  */
#linkContainer .modalButton .svg-inline--fa{
  margin-right: 0.5rem;
}

#linkContainer .dark {
  background-color: rgb(24, 24, 24);
  border: 2px solid #d0d0d0;
  color: #d0d0d0;
}

#linkContainer .light {
  background-color: #d0d0d0;
  border: 2px outset rgb(143, 148, 145);;
  color: rgb(24, 24, 24);
  font-weight: 700;
}

/* ============================================================================== */
/*                                  Media Queries */
/* ============================================================================== */
@media only screen and (max-width: 1700px){
  #text-container {
    padding: 1.5rem;
  }
  #modal-image {
    padding: 1.5rem;
  }
  #modal-container {
    width: 65vw;
  }
}

@media only screen and (max-width: 1600px){
  #text-container {
    padding: 1.2rem;
  }
  #modal-image {
    padding: 1.2rem;
    height: auto;
    width: auto;
  }
  #modal-container {
    width: 70vw;
  }
}

@media only screen and (max-width: 1200px){
  #modal-container {
    width: 75vw;
  }
}

@media only screen and (max-width: 992px){
  #modal-container {
    width: 84vw;
  }
  #text-container {
    padding: 0.4rem;
    margin-left: 0.3rem;
  }
  #text-container h5 {
    padding: 0.3rem;
    margin: 0.4rem 0;
  }
  #linkContainer {
    margin: 0.7rem 0;
  }
  #modal-image {
    padding: 0.5rem;
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 768px){
  #modal-container {
    width: 90vw;
  }
}

@media only screen and (max-width: 576px){
  #heading-container {
    font-size: 0.8rem;
  }
  #heading-container h3 {
    margin: 0.2rem 0.7rem 0;
  }
  #modalCloseButton {
    font-size: 1.55rem;
    /* right: 10px; */

  }
  #modalCloseButton:hover {
    transform: scale(1.0);
  }
  #content-container {
    flex-direction: column;
  }
  #modal-image {
    padding: 0.2rem;
    height: auto;
    width: 50%;
  }
  #modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-span {
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  #text-container h5{
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0;
  }
  hr {
    margin: 0.1rem;
  }
  #linkContainer {
    margin-top: 0.3rem;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  #linkContainer .modalButton {
    margin-bottom: 0.2rem;
  }
  #priceListContainer {
    display: flex;
    flex-direction: row;
  }
  #priceListContainer div{
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 320px){
  #heading-container {
    font-size: 0.7rem;
  }
}


