.backdrop {
    /* background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding: 0;
    margin: 0; */
    position: fixed;
    /* position: relative; */
    /* position: absolute; */
    /* position: sticky; */
    /* top: var(--yOffset-val); */
    /* left: 0; */
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}
.backdrop::after {
    top: var(yOffsetValue);
}