.cards-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 6vh;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background: no-repeat 100% 5% fixed;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    margin: 0;
}

@supports (-webkit-touch-callout: none) {
  .cards-flex-container {
      background: center top no-repeat scroll;
      background-size: auto 100vh;
  }    
}

/* @supports (-webkit-touch-callout: inherit) {
  .cards-flex-container {
  background-attachment: scroll;
  }
} */

.LazyLoad {
    margin: 0.5rem 0.5rem;
}
.card {
    border: 0;
    max-width: 345px;
    height: auto;
    transition: transform .4s ease;
    /*this eliminates the white space around card corners if needed*/
    border-radius: 5% / 3.75%;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
}

#noCardFound {
    border: 0;
    height: 452px;
    width: 616px;
    transition: transform .4s ease;
}
#noCardFound:hover {
    transform: scale(1.05);
}

/* Animations for the background of cards-flex-container */
.headerFadeInCards {
    animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
.headerFadeOutCards {
    animation: fadeOutAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
    .LazyLoad {
        margin: 0.7rem 0.5rem;
    }
    .card:hover {
        transform: scale(1.00);
    }
    #noCardFound {
        height: 367px;
        width: 500px;
    }
}

@media screen and (max-width: 576px){
    #noCardFound {
        height: 257px;
        width: 350px;
        transition: none;
    }
    #noCardFound:hover {
        transform: none;
    }
}

@media screen and (max-width: 330px){
    .LazyLoad {
        width: 320px!important;
        height: auto!important;
    }
    .card {
        width: 100%;
        height: auto
    }
    #noCardFound {
        height: 213px;
        width: 290px;
    }
}