#contentPolicyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 4vh;
    background-color: rgb(24,24,24);
    position: fixed;
    right: 0;
    bottom: 4vh;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
}

#contentPolicyContainer.showContentPolicy {
    display: flex
}

#contentPolicyContainer.hideContentPolicy {
    display: none;
}

#contentPolicyClose {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.fa-times {
    color: #C80815;
    font-size: 2rem;
}

@media only screen and (max-width: 1200px){
    #contentPolicyText {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        margin-left: 0.4rem;
        margin-right: 2rem;
    }
}


@media only screen and (max-width: 768px){
    #contentPolicyClose {
        margin-right: 0.3rem;
        padding: 0.4rem;
    }
}