/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 345px;
    height: 480px;
    /* Remove this if you don't want the 3D effect */
    perspective: 1000px; 
    transition: transform .4s ease;
}

.flip-card:hover {
    transform: scale(1.05);
}

.flip-card-modal {
    width: 521.79px;
    height: 713.59px;
    padding: 1.2rem
}

/* This is the same CSS normal images get */
.flipCardImg {
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 5% / 3.75%;
}

  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

  /* Do a horizontal flip when users click the flip icon */
.flip-toggle {
    transform: rotateY(180deg);
}

  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

.fa-creative-commons-share {
    font-size: 3.8rem;
    color: rgb(24, 24, 24);
}

.fa-circle {
    font-size: 3.25rem;
    color: white;
}

.frontFlipIcon {
    position: absolute;
    top: -15px;
    left: -20px;
    transition: transform .4s ease;
}

.frontFlipIcon:hover {
    transform: rotate(0.5turn);
}

.backFlipIcon {
    position: absolute;
    top: -15px;
    left: -20px;
    transition: transform .4s ease;
}
.backFlipIcon:hover {
    transform: rotate(0.5turn);
}

.hideFlipIcon {
    display: none;
}

/* ========================================================== */
                    /* Flip Card for Modal */
/* ========================================================== */
.flip-card-modal {
    width: 521.79px;
    height: 713.59px;
}

@media screen and (max-width: 1700px){
    .flip-card-modal {
        width: 530px;
        height: 722px;
    }
}
@media screen and (max-width: 1600px){
    .flip-card-modal {
        width: 521.59px;
        height: 713.59px;
    }
}
@media screen and (max-width: 992px){
    .flip-card-modal {
        width: 406.7px;
        height: 561.2px;
    }
}
@media screen and (max-width: 768px){
    .flip-card-modal {
        width: 335.66px;
        height: 462.2px;
        padding: 1rem;
    }
}
@media screen and (max-width: 576px){
    .flip-card-modal {
        width: 254.19px;
        height: 351.98px;
        padding: 0.8rem;
    }
    .fa-creative-commons-share {
        font-size: 3.2rem;
    }
    .fa-circle {
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 450px){
    .flip-card-modal {
        width: 202.5px;
        height: 279.97px;
    }
}

@media screen and (max-width: 375px){
    .flip-card-modal {
        width: 163.75px;
        height: 225.97px;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 330px){
    .flip-card-modal {
        width: 143.5px;
        height: 197.75px;
    }
    .fa-creative-commons-share {
        font-size: 2.4rem;
    }
    .fa-circle {
        font-size: 2rem;
    }
}

/* End of flip-card for modal */



@media screen and (max-width: 768px){
    .flip-card {
        /* remove the 3D flip effect on mobile */
        perspective: 0px;
    }

    .flip-card:hover {
        transform: scale(1.00);
    }
    .frontFlipIcon:hover {
        transform: none;
    }
    .backFlipIcon:hover {
        transform: none;
    }
}

@media screen and (max-width: 330px){
    .flip-card {
        /* base ratio is 345/480, modified here */
        width: 300px;
        height: 417.4px
    }
    
    .flipCardImg {
        width: 100%;
        height: auto
    }
}