

/* body {
	background: url('../images/background/indexBackground.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0% 0%;
	padding: 0px;
	margin: 0px;

	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	display: table;
} */


body {
	background: url('../images/background/indexBackground.png');
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    /* iOS specific styling */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    display: table;
}



