.headerBackgroundImage {
    height: 50vh;
    width: 100%;
    background: no-repeat 100% 5%;
    background-size: cover;
	background-position: center center;
	padding: 0px;
    margin: 0px;
    display: block;
}

.headerFadeIn {
    animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.headerFadeOut {
    animation: fadeOutAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

@keyframes fadeOutAnimation { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
    } 
}


/* @media only screen and (max-width: 575.98px) { */
@media only screen and (max-width: 320px) {
    .headerBackgroundImage {
        display: none;
    }
}

