/* .LazyLoad {
    margin: 0.5rem 0.5rem;
} */
.card {
    /* padding: 0; */
    /* border: 0; */
    /* margin: 5px 5px; top and bottom margin: 2px, left and right margin: 5px */
    /* margin: 1rem 0.5rem; top and bottom margin: 2px, left and right margin: 5px */
    /* margin: 10px 10px; top and bottom margin: 2px, left and right margin: 5px */
    /* max-width: 250px; */
    /* max-width: 345px; */
    /* height: auto; */
    /* height: auto; */
    /* height: 60%; */
    /* border-bottom-right-radius: 5% 3.75%; */ /*this eliminates the white space around card corners if needed*/
    /* transition: transform .4s ease; */
    /* border-radius: 5% / 3.75%; */
}
/* .card:hover {
    transform: scale(1.05);
} */

/* .card-item__modal-content {
    padding: 0;
} */

/* .card-item__modal-actions {
text-align: right;
} */

/* .card-container {
    height: 20rem;
    width: 100%;
} */

/* #mainBackgroundImg {
    min-height: 100vh;
    background: url('../components/images/background/indexBackground.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
} */


/* background: url('../images/background/indexBackground.png'); */
/* background: url('../images/background/2XM.jpg'); */
/* position: relative;
height: 100%;
width: 100%;
background-size: cover;
background-position: center center;
background-attachment: fixed; */
/* iOS specific styling */
/* -webkit-transform: translateZ(0);
transform: translateZ(0);
will-change: transform;
display: table; */




/* @media screen and (max-width: 768px){
    .LazyLoad {
        margin: 0.5rem 0.5rem;
        margin: 0.3rem 0.5rem;
        max-width: 80vw;
        height: auto!important;
    }
    
    .card {
        margin: 0.3rem 0.5rem; top and bottom margin: 2px, left and right margin: 5px
        max-width: 80vw;
        height: auto;
    }
    .card:hover {
        transform: scale(1.00);
    }

} */
