/* Colors */
/* #f1e50d */
/* rgb(65, 65, 65) */

/* ======================================================== */
/* CSSTransitions Animation for the Navbar on Mobile */
/* ======================================================== */

/* NOTE: these were moved to the SideDrawer.css file! */

/* end of navbar animations on mobile */

#semanticUIOverride nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: rgb(24, 24, 24);
}
#dropDownContainer {
    width: 35%;
    margin: 0rem 1rem;
    display: flex;
    justify-content: center;
    z-index: 10;
}

nav * {
    padding: 0;
}

.mainNavLinks {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
    z-index:100;
}

@media only screen and (max-width: 1200px){
    #setName {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px){
    .mainNavLinks {
        width: 80%;
    }
}

@media only screen and (max-width: 768px){
    .mainNavLinks {
        display: none;
    }

    .burger {
        display: block;
    }
    #dropDownContainer {
        width: 85vw;
        margin: 0rem 0.4rem;
    }
}

/* ================================================================== */
/* Burger Animations - trigger when users click the burger on mobile */
/* ================================================================== */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}