/* Colors */
/* #f1e50d */
/* rgb(65, 65, 65) */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* font-family: 'Poppins', sans-serif; */
    background-color: rgb(24, 24, 24);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

nav * {
    padding: 0;
    /* margin: 0 */
}

/* parent to logo is the nav element */
.logo {
    display: flex;
    /* color: rgb(241, 229, 13); */
    /* color: white; */
    /* color: lightsteelblue; */
    color: #d0d0d0;
    letter-spacing: 2px;
    /* text-shadow: .05rem .05 .2rem #f9c2a6; */
    /* text-shadow: 1px 1px 1px rgb(240, 228, 65); */
    /* text-shadow: 2px 2px 4px #f9c2a6; */
    /* text-shadow: 2px 2px 4px #F26722; */
    /* text-shadow: 1px 1px 4px #F26722; */
}

#setName {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    font-size: 1.5rem;
    /* font-weight: 700; */
}

.mainNavLinks {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    #setName {
        font-size: 1rem;
        /* color: red; */
    }
}

@media screen and (max-width: 992px){
    .mainNavLinks {
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    body {
        /* when we do the translate x below, this prevents getting a horizontal scroll bar */
        /* overflow-x: hidden; */
        /* display: hidden; */
    }
    .mainNavLinks {
        display: none;
        /* opacity: 0; */
    }
    .burger {
        display: block;
    }
}

/* This needs to be down here below the media query or else the media query will take precedence on mobile */
/* .nav-active {
    transform: translateX(0%);
} */

/* @keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    /* transform: rotate(-45deg translate(-5px,6px)); */
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}