/* Colors */
/* #f1e50d */
/* rgb(65, 65, 65) */

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin: 0;
}

.nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-links .selectorText{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    color: #d0d0d0;
    padding-bottom: 3px;
}

.nav-links .selectorText:hover {
    color: rgb(143, 148, 145);
}

#submitButton {
    height: 50px;
    width: 120px;
    background-color: rgb(24, 24, 24);
    color: #d0d0d0;
    font-size: 1.2rem;
    border: 3px solid #d0d0d0;
    letter-spacing: 1.2px;
    transition: all .3s ease;
    border-radius: 6px 6px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitButton:hover {
    background-color: #d0d0d0;
    border: 3px solid rgb(24, 24, 24);
    color: black;
    font-weight: 700;
}

#submitButton:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    transition: all .6s ease;
}

.submitLoadingWheelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#loadingWheel {
    width: auto;
    height: 100%;
}



.hideLoading {
    display: none;
}
.showLoading {
    display: block;
}
.hideSubmitText {
    display: none;
}
.showSubmitText {
    display: block;
}

@media only screen and (max-width: 1200px){
    .nav-links .selectorText{
        letter-spacing: 3px;
        font-size: 1rem;
    }
    #submitButton {
        height: 40px;
        width: 90px;
        font-size: 0.9rem;
        border: 1.5px solid #d0d0d0;
        letter-spacing: 1.2px;
        border-radius: 6px 6px;
    }
}

@media only screen and (max-width: 992px){
    #submitButton {
        height: 35px;
        width: 80px;
        font-size: 0.7rem;
        border: 1.5px solid #d0d0d0;
        letter-spacing: 1px;
        border-radius: 6px 6px;
    }
}

/* ================================================================= */
        /* Nav Links on Mobile that toggle with the burger */
/* ================================================================= */
/* NOTE: the css for those NavLinks is in the SideDrawer.css file! */

