.optionContainer {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* height: 50px; */
}

.optionContainer span {
    display: flex;
    align-items: center;
}

.optionContainer img {
    width: 25px;
    height: auto;
    margin-right: 0.5rem;
}

.dropDownSetName {
    margin-right: 1rem;
}

.optionContainer em {
    /* font-weight: 300; */
    font-size: 0.8rem;
}