.optionContainer span {
    display: flex;
    align-items: center;
}

.optionContainer img {
    width: 25px;
    height: auto;
    margin-right: 0.5rem;
}

.dropDownSetName {
    margin-right: 2rem;
}

.optionContainer em {
    font-weight: 300;
    color: #d0d0d0;
}

/* This controls the size of the expanded set dropdown menu on mobile */
/* 18rem fits a little over 5 sets at a time */
/* 14rem just over 4 sets at a time */
@media only screen and (max-width: 767px){
    .ui.search.dropdown .menu {
        max-height: 14rem !important 
    } 
}