.optionContainer {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* height: 50px; */
}

.optionContainer span {
    display: flex;
    align-items: center;
}

.optionContainer img {
    width: 25px;
    height: auto;
    margin-right: 0.5rem;
}

.dropDownSetName {
    margin-right: 2rem;
}

.optionContainer em {
    font-weight: 300;
    /* font-size: 0.8rem; */
    /* color: rgb(126, 126, 126); */
    /* color: rgb(226, 226, 226); */
    /* color: rgb(143, 148, 145); */
    color: #d0d0d0;
}

/* This controls the size of the expanded set dropdown menu on mobile */
/* 18rem fits a little over 5 sets at a time */
@media only screen and (max-width: 767px){
  .ui.search.dropdown .menu {
    max-height: 14rem !important 
  } 
}