.side-drawer {
    position: fixed;
    right: 0;
    /* top: 8vh; */
    /* z-index: 100; */
    height: 100vh;
    width: 70%;
    background: white;
    background: red;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.main-navigation__drawer-nav {
    height: 100%;
    z-index: 1000;
}