/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    /* ============================================================== */
    /* This is the width and height of the 'track' the ball slides in */
    /* ===============================================================*/
    width: 35px;
    height: 17px;
    /* z-index: 100; */
}
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
/* -- the slider is the 'ball' that slide across the 'track' */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* ================================================ */
/* This is the color of the 'track' before clicking */
/* ================================================ */
background-color: white;
/* ===================================================================== */
/* This is the transition speed of the 'track' and 'ball' changing color */
/* ===================================================================== */
-webkit-transition: .2s;
transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    /* ================================================ */
    /* this is the height and width of the ball */
    /* ================================================ */
    height: 13px;
    width: 13px;
    /* ================================================ */
    /* This is the starting position of the ball */
    /* ================================================ */
    left: 2px;
    bottom: 1.5px;
    /* ================================================ */
    /* this is the color of the 'ball' before clicking */
    /* ================================================ */
    background-color: rgb(126, 126, 126);
    border: 1.2px solid black;
    /* ==================================================================== */
    /* This is the transition speed of the 'ball' moving from right to left */
    /* ==================================================================== */
    -webkit-transition: .1s;
    transition: .1s;
}
input:checked + .slider {
    /* ================================================ */
    /* This is the color of the 'track' after clicking */
    /* ================================================ */
    background-color: #7C7C7C;
}
input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    box-shadow: 0 0 1px rgb(22, 161, 74);
}
input:checked + .slider:before {
    /* ==============================================================*/
    /*   this controls how far to the right the slider slides to */
    /* ============================================================== */
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    /* ================================================ */
    /* this is the color of the 'ball' after it slides */
    /* ================================================ */
    border: 1px solid white;
    background-color: black;
}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}