/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    /* width: 60px; */
    width: 40px;
    /* height: 34px; */
    height: 22px;
    z-index: 100;
}

/* Hide default HTML checkbox */
/* .switch input {
opacity: 0;
width: 0;
height: 0;
} */

/* The slider */
/* -- the slider is the 'ball' that slide across the 'track' */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* This is the color of the 'track' before clicking */
/* background-color: #f1e50d; */
background-color: rgb(241, 229, 13);
/* color: blueviolet; */
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    /* height: 26px; */
    height: 18px;
    /* width: 26px; */
    width: 18px;
    left: 4px;
    bottom: 2px;
    /* this is the color of the 'ball' before clicking */
    background-color: rgb(22, 161, 74);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:after {
    background-color: red;
}

input:checked + .slider {
    /* This is the color of the 'track' after clicking */
    background-color: rgb(22, 161, 74);
}

input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    box-shadow: 0 0 1px rgb(22, 161, 74);
}

input:checked + .slider:before {
    /* this controls how far to the right the slider slides to */
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    /* this is the color of the 'ball' after it slides */
    background-color: rgb(241, 229, 13);
}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}