html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  /* min-height: 100vh; */
}

/* #backgroundImg { */
	/* background: url('../src/components/images/background/indexBackground.png'); */
	/* background: url('../images/background/2XM.jpg'); */
    /* position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed; */
    /* iOS specific styling */
    /* -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    display: table; */
/* } */